/********    NAVBAR STYLES  ********/
.navbar {
  background-color: #ffffff;
  grid-area: nav;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;/*space-between*/
  padding: 0 30px 0 30px;
  border-bottom: 1px solid lightgray;
}

.nav_icon {
  display: none;
}

.nav_icon > i {
  font-size: 26px;
  color: #a5aaad;
}

/** Navbar Right **/

.navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar__right > a {
  margin-left: 20px;
  text-decoration: none;
}

.salir:hover > i{
  cursor: pointer;
  color: red !important;
}

.navbar__right > label {
  color: #a5aaad;
  padding: 5px;
  margin: 0;
}

.navbar__right > a > img {
    width: 40px;
    border-radius: 50%;
  }

.navbar__right > a > i {
  color: #a5aaad;
  font-size: 16px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
  padding: 7px;
}

@media only screen and (max-width: 855px) {
  .navbar{
    justify-content: space-between;
  }
}