/*Globals*/
body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.contenedor {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar nav nav nav"
    "sidebar main main main";
}

/*Main*/
main {
  background: #f3f4f6;
  grid-area: main;
  overflow-y: auto;
}

.main__container {
  padding: 20px 35px;
}

/*Cards*/
.main__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 20px 0;
}

.grafic__chart{
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px;
}

/*Responsive*/
@media only screen and (max-width: 978px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "nav"
      "main";
  }

  .sidebar {
    display: none;
  }

  .nav_icon {
    display: inline;
  }
}

@media only screen and (max-width: 855px) {
  .main__cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .grafic__chart{
    flex-direction: column;
  }
}
