/*Globals*/
body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.contenedor {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar nav nav nav nav"
    "sidebar main main main main";
}

/*Main*/
main {
  background: #f3f4f6;
  grid-area: main;
  overflow-y: auto;
}

.main__container {
  padding: 20px 35px;
}

/*Cards*/
.main__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 20px 0;
}

/*Graphics*/
.grafic__chart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-top: 20px;
}

/*Table*/
.container__table {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.container__table > h2 {
  padding: 5px;
}

table > tbody > tr:hover {
  cursor: pointer;
}

/*Responsive*/
@media only screen and (max-width: 978px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "nav"
      "main";
  }

  .sidebar {
    display: none;
  }

  .nav_icon {
    display: inline;
  }

  .input__text {
    width: 100%;
  }
}

@media only screen and (max-width: 855px) {
  .main__cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .grafic__chart {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .container__table {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .input__text{
    width: 100%;
  }
}
